<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form method="post" action="/cadastro_aluno">
    <title>Cadastro</title>
    <div class="form-header">
        <h2>Cadastro de Aluno</h2>
        <link rel="stylesheet" href="/static/css/style_cadastro.css">
    </div>

    <input type="text" name="nome" placeholder="Nome Completo" required>
    <input type="text" name="cpf" placeholder="CPF" required>
    <input type="date" name="nascimento" placeholder="Data de Nascimento" required>
    <input type="email" name="email" placeholder="Email" required>

    <label class="label-genero" for="genero">Gênero</label>
    <div class="gender-buttons">
        <button type="button" onclick="selecionarGenero(this, 'masculino')">Masculino</button>
        <button type="button" onclick="selecionarGenero(this, 'feminino')">Feminino</button>
        <button type="button" onclick="selecionarGenero(this, 'outro')">Outro</button>
    </div>
    <input type="hidden" name="genero" id="genero" required>

    <button type="submit">Cadastrar</button>
</form>

<script>
    function selecionarGenero(button, genero) {
        document.getElementById('genero').value = genero;
        let buttons = document.querySelectorAll('.gender-buttons button');
        buttons.forEach(btn => btn.style.backgroundColor = '#3d7fad');
        button.style.backgroundColor = '#314e63';
    }
</script>
