<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Desenvolvedores - SuiviVital</title>
    <link rel="stylesheet" href="/static/css/style_desenvolvedores.css">
</head>
<body>
    <h1>Nosso Time de Desenvolvedores 💻</h1>

    <div class="dev-container">
        <!-- Desenvolvedor 1 -->
        <div class="dev-card">
            <img src="/static/images/hannah.jpg" alt="Foto Dev 2">
            <h2>Hannah Hilary</h2>
            <p>✉️ hannahhilarysantos@gmail.com</p>
            <p>Estudante de Tecnologia da Informação - Universidade Estadual de Ponta Grossa.</p>
            <div class="dev-links">
                <a href="http://www.linkedin.com/in/hannah-hilary-b9902b2a4" target="_blank">🔗   LinkedIn</a>
                <a href="https://www.instagram.com/hilaryysnt?igsh=ajJ1MWRnM211NXQw" target="_blank">📷   Instagram</a>
            </div>
        </div>
        
        <!-- Desenvolvedor 2 -->
         <div class="dev-card">
            <img src="/static/images/yasmin.jpg" alt="Foto Dev 1">
            <h2>Yasmin Camilo</h2>
            <p>✉️ yasmincamilo65@gmail.com</p>
            <p>Estudante de Tecnologia da Informação - Universidade Estadual de Ponta Grossa.</p>
            <div class="dev-links">
                <a href="https://www.linkedin.com/in/yasmin-camilo-370362365/" target="_blank">🔗   LinkedIn</a>
                <a href="https://www.instagram.com/doo0die3?igsh=cm1vYXlvZzZpY3Uy" target="_blank">📷   Instagram</a>
            </div>
        </div>

        <!-- Desenvolvedor 3 -->
        <div class="dev-card">
            <img src="/static/images/lorena.jpg" alt="Foto Dev 3">
            <h2>Lorena Zanon</h2>
            <p>✉️ lorenaaugusto70@gmail.com</p>
            <p>Estudante de Tecnologia da Informação - Universidade Estadual de Ponta Grossa.</p>
            <div class="dev-links">
                <a href="http://www.linkedin.com/in/lorena-zanon-augusto-a40b2035b" target="_blank">🔗   LinkedIn</a>
                <a href="https://www.instagram.com/lo.zanon?igsh=MTkyeHcwb3d1dzY5bg==" target="_blank">📷   Instagram</a>
            </div>
        </div>

        <!-- Desenvolvedor 4 -->
        <div class="dev-card">
            <img src="/static/images/calebe.jpg" alt="Foto Dev 4">
            <h2>Calebe Mausson</h2>
            <p>✉️ calebemausson@gmail.com</p>
            <p>Estudante de Tecnologia da Informação - Universidade Estadual de Ponta Grossa.</p>
            <div class="dev-links">
                <a href="http://www.linkedin.com/in/calebe-mausson-08308b360" target="_blank">🔗   LinkedIn</a>
                <a href="https://www.instagram.com/calebemausson?igsh=MXIzZG1jYWVkdnZ6ag==" target="_blank">📷   Instagram</a>
            </div>
        </div>
    </div>
</body>
</html>
