<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Exercícios de Glúteo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/tipo_treino.css">
</head>
<body>
    
    <!-- Cabeçalho com o botão home -->
    <div class="header">
        <!-- Botão Home (casinha) no canto superior esquerdo -->
        <a href="{{ url_for('treinos') }}" class="home-btn">
            <i class="fas fa-home"></i> 
        </a>

        <!-- Título centralizado -->
        <h1>Exercícios de Glúteo</h1>
    </div>

    <div class="container">
        <a href="https://www.youtube.com/watch?v=lgJa0VrO88U" target="_blank" class="exercicio">
            Agachamento Livre
        </a>
        <a href="https://www.youtube.com/watch?v=lJzxxyyP5hE" target="_blank" class="exercicio">
            Cadeira Abdutora
        </a>
        <a href="https://www.youtube.com/watch?v=HnYFdAVVYL4" target="_blank" class="exercicio">
            Stiff com Barra ou Halteres
        </a>
        <a href="https://www.youtube.com/watch?v=QF0BQS2W80k" target="_blank" class="exercicio">
            Avanço com Halteres
        </a>
        <a href="https://www.youtube.com/watch?v=mAQN6wXLzzc" target="_blank" class="exercicio">
            Glúteo no Cabo (Coice)
        </a>
        <a href="https://www.youtube.com/watch?v=LM8XHLYJoYs" target="_blank" class="exercicio">
            Hip Thrust (Glúteo no Banco)
        </a>
        <a href="https://www.youtube.com/watch?v=QFr4aHKQPbw" target="_blank" class="exercicio">
            Cadeira Flexora
        </a>
    </div>
</body>
</html>
