<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuiviVital - Início</title>
    <link rel="stylesheet" href="/static/css/style_home.css">
</head>
<body>
    <h1></h1>
    <a href="/login_aluno"><button class="aluno-btn">ALUNO</button></a>
    <a href="/login_gestor"><button class="gestor-btn">GESTOR</button></a>
    <a href="/desenvolvedores"><button class="desenvolvedores-btn">DESENVOLVEDORES</button></a>
</body>
</html>
