<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Aluno</title>
    <link rel="stylesheet" href="/static/css/style_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <form method="post">
        <div class="form-header">
            <h2>Login do Aluno</h2>
            <a href="/cadastro_aluno">
                <button type="button" class="criar-conta-btn">Criar conta</button>
            </a>
        </div>

        <!-- Exibindo mensagens de sucesso ou erro -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <input type="text" name="cpf" placeholder="CPF" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>
