<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Ombro & Abdômen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/tipo_treino.css">
</head>
<body>
    
    <!-- Cabeçalho com o botão home -->
    <div class="header">
        <!-- Botão Home (casinha) no canto superior esquerdo -->
        <a href="{{ url_for('treinos') }}" class="home-btn">
            <i class="fas fa-home"></i> 
        </a>

        <!-- Título centralizado -->
        <h1>Exercícios de Ombro + Abdômen</h1>
    </div>

    <div class="container">
        <a href="https://www.youtube.com/watch?v=B-aVuyhvLHU" target="_blank" class="exercicio">
            Desenvolvimento com halteres ou barra
        </a>
        <a href="https://www.youtube.com/watch?v=kDqklk1ZESo" target="_blank" class="exercicio">
            Elevação lateral
        </a>
        <a href="https://www.youtube.com/watch?v=-t7fuZ0KhDA" target="_blank" class="exercicio">
            Elevação frontal
        </a>
        <a href="https://www.youtube.com/watch?v=8QQjvxyRNY4" target="_blank" class="exercicio">
            Treino de Abdômen
        </a>
    </div>
</body>
</html>
