<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Gestor</title>
    <link rel="stylesheet" href="/static/css/style_perfil_gestor.css">

    <!-- Fonte Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="perfil-container">
        <div class="perfil-info">
            <!-- Foto de perfil do gestor -->
            <img src="/static/images/perfilAcademia.jpg" alt="Foto de Perfil" class="foto-perfil">
            <h1>Daiane</h1>
            <p>Gestor(a)</p>
        </div>

        <!-- Botões para as páginas -->
        <div class="perfil-buttons">
            <a href="{{ url_for('ver_alunos') }}" class="btn">Alunos</a>
            <a href="{{ url_for('treinos') }}" class="btn">Treinos</a>
            <a href="{{ url_for('evasao') }}" class="btn">Evasão</a>
        </div>
    </div>
    
</body>
</html>
